.card{
width: 120px;
height: 200px;
background-color: rgb(136, 122, 111);
border-radius: 8px;
border: 4px solid brown;
box-shadow: 1px 1px 4px 1px gray;
}

.card.back{
    background-color: rgb(75, 72, 70);
}

.stat-list{
    margin: 0;
    padding: 0 8px;
}

.stat-list-item{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.stat-list-item.selected{
    outline: 1px solid black;
    background-color: #f1efe2;
}

.card-list-item.player .stat-list-item:hover{
    outline: 1px dashed black;
    background-color: #fafafa;
}

.game{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.center-area{
    text-align: center;
    align-self: center;
    min-width: 20vw;
}

.card-list{
    display: flex;
    flex-direction: row-reverse;
}

.card-list.opponent{
    direction: rtl;
}

.card-list-item.player{
    margin-left: calc(6vw - 150px);
}

.card-list-item.opponent{
    margin-right: calc(6vw - 150px);
    direction: ltr;
}

.play-button{
    width:80px;
    height:40px;
    align-self:center;
    font-size: larger;
    font-weight: bold;
}

.hand{
    display: flex;
    flex-direction: column;
    min-width: 40vw;
}