.card{
width: 120px;
height: 200px;
background-color: rgb(136, 122, 111);
border-radius: 8px;
border: 4px solid brown;
box-shadow: 1px 1px 4px 1px gray;
}

.stat-list{
    margin: 0;
    padding: 0 8px;
}

.stat-list-item{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.game{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.center-area{
    text-align: center;
    align-self: center;
    min-width: 20vw;
}

.card-list{
    display: flex;
}

.card-list.opponent{
    direction: rtl;
}

.card-list-item.player{
    margin-left: calc(6vw - 150px);
}

.card-list-item.opponent{
    margin-right: calc(6vw - 150px);
    direction: ltr;
}

.play-button{
    width:80px;
    height:40px;
    align-self:center;
    font-size: larger;
    font-weight: bold;
}